/* Variables Globales */
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif; }

a {
  text-decoration: none; }

.contenedor, .cualidades .contenedor, .footer .container {
  width: 100%;
  height: auto;
  margin: auto; }

.logo img {
  height: 70px; }

@media screen and (max-width: 768px) {
  .border-box {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box; }
  .contenedor, .cualidades .contenedor, .footer .container {
    width: 100vw;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box; }
  .logo img {
    height: 50px; } }

.anim-des-abajo {
  animation: deslizar-hacia-abajo ease 2s forwards; }

/* animations */
@keyframes deslizar-hacia-abajo {
  from {
    opacity: 0;
    transform: translateY(-15px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

/* header animation */
@keyframes deslizar-desde-der {
  from {
    opacity: 0;
    transform: translateX(250px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes deslizar-desde-izq {
  from {
    opacity: 0;
    transform: translateX(-250px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999; }
  .header .nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 25px 70px; }
    .header .nav .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      list-style-type: none; }
      .header .nav .nav-menu a {
        text-decoration: none;
        font-size: 24px;
        color: #2D85BD; }
    .header .nav .hamburger {
      align-self: center;
      display: none;
      cursor: pointer;
      padding: 10px 10px;
      border: 1px solid #878787;
      border-radius: 5px; }
      .header .nav .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
        background-color: #878787; }

@media screen and (max-width: 768px) {
  .nav {
    padding: 25px 40px !important;
    justify-content: space-between; }
  .hamburger {
    display: block !important; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg); }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 30px 0px; }
    .nav-menu .nav-item a {
      color: #28a3c9 !important;
      font-size: 1em !important; }
  .nav-menu.active {
    left: 0; } }

/* Top */
/* Card*/
/* Contacto */
.seccion-top-index {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
  gap: 50px;
  margin-top: 120px; }
  .seccion-top-index .cont-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center; }
    .seccion-top-index .cont-text .titulo-top {
      font-family: "Russo One", sans-serif;
      color: #2E2868;
      font-size: 3rem;
      font-weight: 300; }
    .seccion-top-index .cont-text .texto-top {
      font-size: 2rem;
      max-width: 800px;
      font-family: "DM Sans", sans-serif;
      color: #624B9E; }
  .seccion-top-index .img-top {
    flex-basis: 100%;
    width: 50%;
    align-self: center;
    justify-content: center; }
    .seccion-top-index .img-top img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.seccion-index {
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  min-height: 400px;
  padding: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 40px; }
  .seccion-index .seccion-titulo {
    font-size: 2rem;
    color: #315DA8; }
  .seccion-index .contenedor-card, .seccion-index .contenedor-card-contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative; }
    .seccion-index .contenedor-card .card1, .seccion-index .contenedor-card-contacto .card1 {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px;
      padding: 10%;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      width: 100vw;
      height: 85vh;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding: 20%; }
      .seccion-index .contenedor-card .card1 .card-title, .seccion-index .contenedor-card-contacto .card1 .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .seccion-index .contenedor-card .card1 .img1, .seccion-index .contenedor-card-contacto .card1 .img1 {
        width: 100%; }
        .seccion-index .contenedor-card .card1 .img1 img, .seccion-index .contenedor-card-contacto .card1 .img1 img {
          max-width: 200px; }
      .seccion-index .contenedor-card .card1 .texto1 .card-title, .seccion-index .contenedor-card-contacto .card1 .texto1 .card-title {
        text-align: center;
        padding: 10%; }
      .seccion-index .contenedor-card .card1 .texto1 .boton, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton {
        background-image: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        text-decoration: none;
        color: #FFF;
        padding: 10px;
        height: 20px;
        font-family: 'Nunito Sans', sans-serif;
        opacity: 1;
        transition: opacity 300ms ease; }
        .seccion-index .contenedor-card .card1 .texto1 .boton:visited, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton:visited {
          color: #FFF; }
        .seccion-index .contenedor-card .card1 .texto1 .boton:hover, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton:hover {
          opacity: 0.8; }
        .seccion-index .contenedor-card .card1 .texto1 .boton:active, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton:active {
          background-image: none;
          background-color: #57E1FD; }
        @media screen and (max-width: 768px) {
          .seccion-index .contenedor-card .card1 .texto1 .boton, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton {
            font-size: 1rem; } }
        @media screen and (max-width: 360px) {
          .seccion-index .contenedor-card .card1 .texto1 .boton, .seccion-index .contenedor-card-contacto .card1 .texto1 .boton {
            font-size: 0.7rem; } }
    .seccion-index .contenedor-card .card2, .seccion-index .contenedor-card-contacto .card2 {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px;
      padding: 10%;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      width: 100vw;
      height: 85vh;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding: 20%; }
      .seccion-index .contenedor-card .card2 .card-title, .seccion-index .contenedor-card-contacto .card2 .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .seccion-index .contenedor-card .card2 .img2, .seccion-index .contenedor-card-contacto .card2 .img2 {
        width: 100%; }
        .seccion-index .contenedor-card .card2 .img2 img, .seccion-index .contenedor-card-contacto .card2 .img2 img {
          max-width: 200px; }
    .seccion-index .contenedor-card .texto2 .card-title, .seccion-index .contenedor-card-contacto .texto2 .card-title {
      text-align: center;
      padding: 15%; }
    .seccion-index .contenedor-card .texto2 .boton, .seccion-index .contenedor-card-contacto .texto2 .boton {
      background-image: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1.3rem;
      text-decoration: none;
      color: #FFF;
      padding: 10px;
      height: 20px;
      font-family: 'Nunito Sans', sans-serif;
      opacity: 1;
      transition: opacity 300ms ease; }
      .seccion-index .contenedor-card .texto2 .boton:visited, .seccion-index .contenedor-card-contacto .texto2 .boton:visited {
        color: #FFF; }
      .seccion-index .contenedor-card .texto2 .boton:hover, .seccion-index .contenedor-card-contacto .texto2 .boton:hover {
        opacity: 0.8; }
      .seccion-index .contenedor-card .texto2 .boton:active, .seccion-index .contenedor-card-contacto .texto2 .boton:active {
        background-image: none;
        background-color: #57E1FD; }
      @media screen and (max-width: 768px) {
        .seccion-index .contenedor-card .texto2 .boton, .seccion-index .contenedor-card-contacto .texto2 .boton {
          font-size: 1rem; } }
      @media screen and (max-width: 360px) {
        .seccion-index .contenedor-card .texto2 .boton, .seccion-index .contenedor-card-contacto .texto2 .boton {
          font-size: 0.7rem; } }
  .seccion-index .contenedor-card-contacto .card-contacto {
    border: 5px solid #6790D7;
    color: #315DA8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 350px;
    height: 350px;
    font-size: 1.3em; }
    .seccion-index .contenedor-card-contacto .card-contacto .img {
      height: 60px; }
    .seccion-index .contenedor-card-contacto .card-contacto .titulo {
      font-weight: bold; }
    .seccion-index .contenedor-card-contacto .card-contacto a {
      color: #315DA8;
      transition: all 300ms ease; }
      .seccion-index .contenedor-card-contacto .card-contacto a:hover {
        color: #518bf0; }

.cualidades {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ECECEC;
  height: 15%;
  width: 100%; }
  .cualidades .contenedor, .cualidades .footer .container, .footer .cualidades .container {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex; }
    .cualidades .contenedor .item, .cualidades .footer .container .item, .footer .cualidades .container .item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
      height: 10%;
      padding: 5% 0%;
      margin: auto; }
      .cualidades .contenedor .item p, .cualidades .footer .container .item p, .footer .cualidades .container .item p {
        font-size: 30px;
        font-family: "Nunito Sans", sans-serif;
        color: #2B65B0; }
      .cualidades .contenedor .item img, .cualidades .footer .container .item img, .footer .cualidades .container .item img {
        flex-basis: 100%;
        align-self: center;
        max-width: 200px; }

@media screen and (max-width: 768px) {
  .seccion-top-index {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 10%;
    flex-direction: column; }
    .seccion-top-index .cont-text .titulo-top {
      font-size: 1.8rem;
      text-align: center; }
    .seccion-top-index .cont-text .texto-top {
      font-size: 1.5rem;
      text-align: center; }
    .seccion-top-index .img-top {
      align-items: center;
      width: 70%; }
  .seccion-index {
    padding: 5%; }
    .seccion-index .seccion-titulo {
      font-size: 1.5rem; }
    .seccion-index .contenedor-card, .seccion-index .contenedor-card-contacto {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      font-size: 0.8rem;
      width: 100%;
      height: 50%;
      gap: 10px;
      padding: 10%; }
      .seccion-index .contenedor-card .card1, .seccion-index .contenedor-card-contacto .card1 {
        height: auto;
        width: 90%;
        gap: 10px;
        display: flex;
        flex-direction: row;
        padding: 10%;
        align-items: center;
        justify-content: center;
        align-content: center; }
        .seccion-index .contenedor-card .card1 .texto1 .card-title, .seccion-index .contenedor-card-contacto .card1 .texto1 .card-title {
          font-size: 1rem;
          align-content: center;
          padding: 10%; }
        .seccion-index .contenedor-card .card1 .img1 img, .seccion-index .contenedor-card-contacto .card1 .img1 img {
          height: 16vw;
          padding: 10%;
          justify-content: center; }
      .seccion-index .contenedor-card .card2, .seccion-index .contenedor-card-contacto .card2 {
        height: auto;
        width: 90%;
        gap: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        padding: 10%;
        justify-content: center; }
        .seccion-index .contenedor-card .card2 .texto2 .card-title, .seccion-index .contenedor-card-contacto .card2 .texto2 .card-title {
          font-size: 1rem;
          text-align: center;
          padding: 10%; }
        .seccion-index .contenedor-card .card2 .img2 img, .seccion-index .contenedor-card-contacto .card2 .img2 img {
          height: 16vw;
          padding: 10%;
          justify-content: center; }
    .seccion-index .contenedor-card-contacto {
      display: flex;
      flex-direction: row;
      gap: 15px; }
      .seccion-index .contenedor-card-contacto .card-contacto {
        width: 20%;
        height: 15%;
        padding: 10%;
        border: 3px solid #6790D7;
        display: flex;
        flex-direction: column; }
        .seccion-index .contenedor-card-contacto .card-contacto .img {
          height: 6vw; }
  .cualidades .item img {
    max-height: 70px; }
  .cualidades .item p {
    font-size: 20px !important; } }

@media screen and (max-width: 400px) {
  .seccion-index {
    padding: 5%; }
    .seccion-index .seccion-titulo {
      font-size: 1.5rem; }
    .seccion-index .contenedor-card, .seccion-index .contenedor-card-contacto {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      font-size: 0.8rem;
      width: 100%;
      height: 50%;
      gap: 15px;
      padding: 10%; }
      .seccion-index .contenedor-card .card1, .seccion-index .contenedor-card-contacto .card1 {
        height: auto;
        width: 80%;
        gap: 10px;
        display: flex;
        flex-direction: row;
        padding: 10%;
        align-items: center;
        justify-content: center;
        align-content: center; }
        .seccion-index .contenedor-card .card1 .texto1 .card-title, .seccion-index .contenedor-card-contacto .card1 .texto1 .card-title {
          font-size: 1rem;
          align-content: center;
          padding: 10%; }
        .seccion-index .contenedor-card .card1 .img1 img, .seccion-index .contenedor-card-contacto .card1 .img1 img {
          height: 16vw;
          padding: 10%;
          justify-content: center; }
      .seccion-index .contenedor-card .card2, .seccion-index .contenedor-card-contacto .card2 {
        height: auto;
        width: 80%;
        gap: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        padding: 10%;
        justify-content: center; }
        .seccion-index .contenedor-card .card2 .texto2 .card-title, .seccion-index .contenedor-card-contacto .card2 .texto2 .card-title {
          font-size: 1rem;
          text-align: center;
          padding: 10%; }
        .seccion-index .contenedor-card .card2 .img2 img, .seccion-index .contenedor-card-contacto .card2 .img2 img {
          height: 16vw;
          padding: 10%;
          justify-content: center; }
    .seccion-index .contenedor-card-contacto {
      display: flex;
      flex-direction: row;
      gap: 15px; }
      .seccion-index .contenedor-card-contacto .card-contacto {
        width: 20%;
        height: 10%;
        padding: 10%;
        border: 3px solid #6790D7;
        display: flex;
        flex-direction: column; }
        .seccion-index .contenedor-card-contacto .card-contacto .img {
          height: 4vw; } }

/* Top */
/* Card */
.seccion-infoServ {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  padding: 0px 70px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  gap: 50px; }
  .seccion-infoServ .infoServ {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10%;
    justify-content: center;
    max-width: 600px; }
    .seccion-infoServ .infoServ .titulo-serv {
      font-size: 2rem;
      color: #2B65B0;
      font-family: 'Nunito Sans', sans-serif; }
    .seccion-infoServ .infoServ .text-serv {
      font-size: 1.2rem;
      color: #4C5671; }
    .seccion-infoServ .infoServ .boton-equipos {
      align-self: center;
      background-image: linear-gradient(180deg, #624B9E 0%, #2E2868 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1.3rem;
      text-decoration: none;
      color: #FFF;
      padding: 10px;
      height: 20px;
      font-family: 'Nunito Sans', sans-serif;
      opacity: 1;
      transition: opacity 300ms ease; }
      .seccion-infoServ .infoServ .boton-equipos:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-equipos:hover {
        opacity: 0.8; }
      .seccion-infoServ .infoServ .boton-equipos:active {
        background-image: none;
        background-color: #624B9E; }
      @media screen and (max-width: 768px) {
        .seccion-infoServ .infoServ .boton-equipos {
          font-size: 1rem; } }
      @media screen and (max-width: 360px) {
        .seccion-infoServ .infoServ .boton-equipos {
          font-size: 0.7rem; } }
    .seccion-infoServ .infoServ .boton-housing {
      align-self: center;
      background-image: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1.3rem;
      text-decoration: none;
      color: #FFF;
      padding: 10px;
      height: 20px;
      font-family: 'Nunito Sans', sans-serif;
      opacity: 1;
      transition: opacity 300ms ease; }
      .seccion-infoServ .infoServ .boton-housing:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-housing:hover {
        opacity: 0.8; }
      .seccion-infoServ .infoServ .boton-housing:active {
        background-image: none;
        background-color: #57E1FD; }
      @media screen and (max-width: 768px) {
        .seccion-infoServ .infoServ .boton-housing {
          font-size: 1rem; } }
      @media screen and (max-width: 360px) {
        .seccion-infoServ .infoServ .boton-housing {
          font-size: 0.7rem; } }
  .seccion-infoServ .img-serv {
    flex-basis: 100%;
    align-self: center; }
    .seccion-infoServ .img-serv img {
      max-width: 100%;
      display: block;
      margin: auto; }

.rigs {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  min-height: 700px;
  padding: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%; }
  .rigs .titulo-rig {
    font-size: 2rem;
    color: #315DA8; }
  .rigs .contenedor-rig {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px; }
    .rigs .contenedor-rig .card {
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px;
      padding: 10%;
      min-width: 40vw;
      min-height: 30vh; }
      .rigs .contenedor-rig .card .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .rigs .contenedor-rig .card .card-title {
        font-family: "DM Sans", sans-serif;
        text-align: center;
        font-size: calc(1.1em + 0.4vw); }
      .rigs .contenedor-rig .card .card-text {
        font-size: calc(0.8em + 0.4vw);
        color: #2f2f2f;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif; }
      .rigs .contenedor-rig .card .boton {
        background-image: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        text-decoration: none;
        color: #FFF;
        padding: 10px;
        height: 20px;
        font-family: 'Nunito Sans', sans-serif;
        opacity: 1;
        transition: opacity 300ms ease; }
        .rigs .contenedor-rig .card .boton:visited {
          color: #FFF; }
        .rigs .contenedor-rig .card .boton:hover {
          opacity: 0.8; }
        .rigs .contenedor-rig .card .boton:active {
          background-image: none;
          background-color: #57E1FD; }
        @media screen and (max-width: 768px) {
          .rigs .contenedor-rig .card .boton {
            font-size: 1rem; } }
        @media screen and (max-width: 360px) {
          .rigs .contenedor-rig .card .boton {
            font-size: 0.7rem; } }

@media screen and (max-width: 768px) {
  .seccion-infoServ {
    padding: 55px 40px;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center; }
    .seccion-infoServ .infoServ {
      align-self: center; }
    .seccion-infoServ .titulo-serv {
      font-size: 1.2rem;
      color: #2B65B0;
      font-family: 'Nunito Sans', sans-serif; }
    .seccion-infoServ .text-serv {
      font-size: 1rem;
      color: #4C5671; }
  .rigs {
    padding: 15%;
    gap: 40px; }
    .rigs .titulo-rig {
      font-size: 1.5rem; }
    .rigs .contenedor-rig {
      gap: 40px;
      flex-direction: column; }
      .rigs .contenedor-rig .card {
        max-width: 300px;
        justify-content: center; }
      .rigs .contenedor-rig .card-title {
        font-size: 1rem;
        text-align: center; }
      .rigs .contenedor-rig .card-text {
        font-size: 0.9rem; } }

.footer {
  width: 100%;
  height: 350px;
  background-color: #C1C0C3;
  font-size: 1.2em;
  font-family: 'Nunito sans', sans-serif;
  color: #f5f0f0; }
  .footer .container {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 70px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex; }
    .footer .container .foo {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .footer .container .foo a {
        color: white;
        text-decoration: none;
        transition: all 300ms ease; }
        .footer .container .foo a:hover {
          text-decoration: none;
          color: #777676; }
        .footer .container .foo a:active {
          text-decoration: none;
          color: #2D85BD; }
      .footer .container .foo .instagram img {
        width: 40px;
        opacity: 0.7;
        transition: opacity 300ms ease; }
        .footer .container .foo .instagram img:hover {
          opacity: 1; }
      .footer .container .foo h3 {
        color: #878787;
        font-weight: bold;
        font-size: 20px; }
    .footer .container .bi-chevron-up {
      display: none; }

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    width: 100%;
    font-size: 1em; }
    .footer .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 40px;
      text-align: center;
      align-content: center;
      margin: auto;
      gap: 20px; }
      .footer .container .foo {
        display: flex;
        flex-direction: column;
        gap: 10px; }
        .footer .container .foo .bi-chevron-up {
          display: inline-block;
          font-size: 40px;
          color: #f3f3f3; } }
