/* Variables Globales */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif; }

.contenedor, .cualidades .contenedor, .footer .container {
  max-width: 100%;
  height: auto;
  margin: auto; }

.border-box, .seccion-top-index, .seccion-index, .seccion-index1, .cualidades .contenedor, .seccion-infoServ, .rigs, .rigs .contenedor-rig .card, .footer {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

.logo img {
  height: 70px; }

.logo1 img {
  height: auto;
  width: 25vw; }

.header {
  width: 100%;
  height: 120px; }
  .header .nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    gap: 40px;
    padding: 25px 70px; }
    .header .nav .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      list-style-type: none; }
      .header .nav .nav-menu a {
        text-decoration: none;
        font-size: 24px;
        color: #2D85BD; }
    .header .nav .hamburger {
      display: none;
      cursor: pointer;
      padding: 10px 10px;
      border: 1px solid #878787;
      border-radius: 5px;
      background-color: #D8D8D8; }
      .header .nav .hamburger .bar {
        display: block;
        width: 50px;
        height: 7px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background-color: #878787; }

@media screen and (max-width: 768px) {
  .nav {
    padding: 25px 40px !important;
    justify-content: space-between; }
  .hamburger {
    display: block !important; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg); }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s; }
    .nav-menu .nav-item {
      margin: 16px 0; }
      .nav-menu .nav-item a {
        color: #28a3c9; }
  .nav-menu.active {
    left: 0; } }

/* Top */
/* Card*/
/* Contacto */
.seccion-top-index {
  min-height: 750px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0px 70px;
  gap: 50px; }
  .seccion-top-index .cont-text {
    flex-basis: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
    justify-content: center; }
    .seccion-top-index .cont-text .titulo-top {
      font-family: "Russo One", sans-serif;
      color: #2E2868;
      font-size: 3rem;
      font-weight: 300; }
    .seccion-top-index .cont-text .texto-top {
      font-size: 2rem;
      max-width: 800px;
      font-family: "DM Sans", sans-serif;
      color: #624B9E; }
  .seccion-top-index .img-top {
    flex-basis: 100%;
    align-self: center; }
    .seccion-top-index .img-top img {
      max-width: 100%;
      object-fit: cover; }

.seccion-index {
  width: 100%;
  min-height: 650px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px; }
  .seccion-index .seccion-titulo {
    font-size: 2rem;
    color: #315DA8; }
  .seccion-index .contenedor-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 70px; }
    .seccion-index .contenedor-card .card1 {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px;
      transition: width 1s;
      width: 100%; }
      .seccion-index .contenedor-card .card1 .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .seccion-index .contenedor-card .card1 .boton {
        background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        text-decoration: none;
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif; }
        .seccion-index .contenedor-card .card1 .boton:visited {
          color: #FFF; }
        .seccion-index .contenedor-card .card1 .boton:hover {
          background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }
      .seccion-index .contenedor-card .card1 img {
        width: 200px; }
      .seccion-index .contenedor-card .card1 .card-title {
        padding-bottom: 20px;
        text-align: center; }
      .seccion-index .contenedor-card .card1 :hover {
        width: 75%; }
    .seccion-index .contenedor-card .card2 {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px;
      transition: width 1s;
      width: 100%; }
      .seccion-index .contenedor-card .card2 .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .seccion-index .contenedor-card .card2 .boton {
        background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        text-decoration: none;
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif; }
        .seccion-index .contenedor-card .card2 .boton:visited {
          color: #FFF; }
        .seccion-index .contenedor-card .card2 .boton:hover {
          background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }
      .seccion-index .contenedor-card .card2 img {
        width: 200px; }
      .seccion-index .contenedor-card .card2 .card-title {
        padding-bottom: 20px;
        text-align: center; }
      .seccion-index .contenedor-card .card2 :hover {
        width: 75%; }
    .seccion-index .contenedor-card .card-contacto {
      border: 5px solid #6790D7;
      color: #315DA8;
      border-radius: 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 350px;
      height: 350px;
      font-size: 1.2rem; }
      .seccion-index .contenedor-card .card-contacto .bi {
        height: 60px; }

.seccion-index1 {
  min-height: 650px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .seccion-index1 .seccion-titulo {
    font-size: 2rem;
    color: #315DA8; }
  .seccion-index1 .contenedor-card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px; }
    .seccion-index1 .contenedor-card1 .card-contacto {
      border: 5px solid #6790D7;
      color: #315DA8;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 350px;
      height: 350px;
      font-size: 1.2rem; }
      .seccion-index1 .contenedor-card1 .card-contacto .bi {
        height: 60px; }

.cualidades {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #ECECEC;
  height: 15%;
  width: 100%; }
  .cualidades .contenedor, .cualidades .footer .container, .footer .cualidades .container {
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex; }
    .cualidades .contenedor .item, .cualidades .footer .container .item, .footer .cualidades .container .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      height: 10%;
      align-content: space-between;
      padding: 7%;
      margin: auto; }
      .cualidades .contenedor .item p, .cualidades .footer .container .item p, .footer .cualidades .container .item p {
        font-size: 2.5rem;
        color: #2B65B0; }
      .cualidades .contenedor .item img, .cualidades .footer .container .item img, .footer .cualidades .container .item img {
        flex-basis: 100%;
        align-self: center;
        max-width: 250px; }

@media screen and (max-width: 768px) {
  .seccion-top-index {
    padding: 10px;
    flex-direction: column; }
    .seccion-top-index .cont-text .titulo-top {
      font-size: 2rem;
      text-align: center; }
    .seccion-top-index p {
      font-size: 1rem; }
    .seccion-top-index .img-top {
      align-items: center; }
  .seccion-index1 {
    width: 100%;
    box-sizing: border-box;
    padding: 15%; }
    .seccion-index1 .contenedor-card1 {
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      text-align: center;
      text-size-adjust: auto;
      font-size: 0.8rem;
      width: 130%;
      height: 100%;
      gap: 20px; }
      .seccion-index1 .contenedor-card1 .card-contacto {
        height: 100%;
        padding: 5%;
        margin: 10% auto;
        box-sizing: border-box; }
        .seccion-index1 .contenedor-card1 .card-contacto .bi {
          width: auto;
          height: 8vw; }
  .seccion-index {
    padding: 10px;
    width: 100%; }
    .seccion-index .contenedor-card {
      border-radius: 10px;
      align-content: center;
      text-align: center;
      padding: 10%;
      display: flex;
      flex-direction: column; }
      .seccion-index .contenedor-card .card1 {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10%;
        border-radius: 10px;
        gap: 20px;
        transition: width 1s; }
        .seccion-index .contenedor-card .card1 :hover {
          width: 90%; }
        .seccion-index .contenedor-card .card1 .img1 {
          height: auto;
          align-content: flex-start; }
        .seccion-index .contenedor-card .card1 .text1 {
          padding: 5%;
          justify-items: center;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
          .seccion-index .contenedor-card .card1 .text1 .card-title {
            color: #6790D7;
            font-size: 1.2rem; }
          .seccion-index .contenedor-card .card1 .text1 .boton {
            width: 6rem;
            font-size: 1rem; }
      .seccion-index .contenedor-card .card2 {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding: 10%;
        display: flex;
        border-radius: 10px;
        gap: 20px;
        transition: width 1s; }
        .seccion-index .contenedor-card .card2 :hover {
          width: 90%; }
        .seccion-index .contenedor-card .card2 .img2 {
          height: auto; }
        .seccion-index .contenedor-card .card2 .text2 {
          padding: 5%;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .seccion-index .contenedor-card .card2 .text2 .card-title {
            color: #6790D7;
            font-size: 1.2rem; }
          .seccion-index .contenedor-card .card2 .text2 .boton {
            width: 6rem;
            font-size: 1rem; }
  .cualidades {
    height: 255px;
    width: 100%;
    margin: auto;
    padding-bottom: 2%; }
    .cualidades .contenedor, .cualidades .footer .container, .footer .cualidades .container {
      gap: 10px;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      width: 95%; }
      .cualidades .contenedor .item, .cualidades .footer .container .item, .footer .cualidades .container .item {
        height: 31vw;
        width: auto;
        padding-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-content: space-around; }
        .cualidades .contenedor .item img, .cualidades .footer .container .item img, .footer .cualidades .container .item img {
          width: auto;
          height: 60%; }
        .cualidades .contenedor .item p, .cualidades .footer .container .item p, .footer .cualidades .container .item p {
          font-size: 1rem;
          padding-bottom: 12%; } }

/* Top */
/* Card */
.seccion-infoServ {
  font-family: 'DM Sans', sans-serif;
  min-height: 650px;
  width: 100%;
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  gap: 50px; }
  .seccion-infoServ .infoServ {
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    justify-content: center;
    max-width: 600px; }
    .seccion-infoServ .infoServ .titulo-serv {
      font-size: 32px;
      color: #2B65B0;
      font-family: 'Nunito Sans', sans-serif; }
    .seccion-infoServ .infoServ .text-serv {
      font-size: 20px;
      color: #4C5671; }
    .seccion-infoServ .infoServ .boton-equipos {
      align-self: center;
      background: linear-gradient(180deg, #624B9E 0%, #2E2868 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1.3rem;
      text-decoration: none;
      color: #FFF;
      font-family: 'Nunito Sans', sans-serif; }
      .seccion-infoServ .infoServ .boton-equipos:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-equipos:hover {
        background: linear-gradient(180deg, #8168c2 0%, #473f8d 100%); }
    .seccion-infoServ .infoServ .boton-housing {
      align-self: center;
      background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1.3rem;
      text-decoration: none;
      color: #FFF;
      font-family: 'Nunito Sans', sans-serif; }
      .seccion-infoServ .infoServ .boton-housing:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-housing:hover {
        background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }
  .seccion-infoServ .img-serv {
    flex-basis: 100%;
    align-self: center; }
    .seccion-infoServ .img-serv img {
      max-width: 100%;
      object-fit: cover; }

.rigs {
  min-height: 700px;
  padding: 0px 70px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .rigs .titulo-rig {
    font-size: 32px;
    color: #315DA8; }
  .rigs .contenedor-rig {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 70px; }
    .rigs .contenedor-rig .card {
      padding: 0px 50px;
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 30px; }
      .rigs .contenedor-rig .card .card-title {
        color: #6790D7;
        font-size: 1.5rem; }
      .rigs .contenedor-rig .card .card-title {
        font-family: "DM Sans", sans-serif; }
      .rigs .contenedor-rig .card .card-text {
        font-size: 20px;
        color: #2f2f2f;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif; }
      .rigs .contenedor-rig .card .boton {
        background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.3rem;
        text-decoration: none;
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif; }
        .rigs .contenedor-rig .card .boton:visited {
          color: #FFF; }
        .rigs .contenedor-rig .card .boton:hover {
          background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }

@media screen and (max-width: 768px) {
  .seccion-infoServ {
    padding: 55px 40px;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center; }
    .seccion-infoServ .infoServ {
      align-self: center; }
  .rigs {
    padding: 50px 40px;
    gap: 40px; }
    .rigs .contenedor-rig {
      gap: 40px;
      flex-direction: column; }
    .rigs .card {
      min-width: 250px; } }

.footer {
  width: 100%;
  height: 350px;
  background-color: #C1C0C3;
  font-size: 1rem;
  font-family: 'Nunito sans', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 3%; }
  .footer .container {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex; }
    .footer .container .foo {
      height: 120px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px; }
      .footer .container .foo a {
        color: #fff; }
      .footer .container .foo .bi-instagram {
        font-size: 30px; }
      .footer .container .foo .bi-chevron-up {
        display: none;
        font-size: 30px; }
      .footer .container .foo h3 {
        color: #878787;
        font-weight: bold;
        font-size: 20px; }

a:link {
  text-decoration: none;
  color: #2D85BD; }

a:visited {
  text-decoration: none;
  color: #2D85BD; }

a:hover {
  text-decoration: none;
  color: #585858; }

a:active {
  text-decoration: none;
  color: #2D85BD; }

@media screen and (max-width: 768px) {
  .footer {
    height: 550px;
    width: 100%; }
    .footer .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-content: center;
      margin: auto;
      padding: 2%;
      height: 100%; }
      .footer .container .foo {
        padding: 3%;
        display: flex;
        flex-direction: column;
        height: 200px; } }
