/* Variables Globales */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif; }

.contenedor, .footer .container {
  max-width: 1440px;
  margin: auto; }

.border-box, .seccion-top-index, .seccion-index, .seccion-infoServ, .rigs, .rigs .contenedor-rig .card, .footer {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

.logo img {
  height: 70px; }

.header {
  width: 100%;
  height: 120px; }
  .header .nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    gap: 40px;
    padding: 25px 70px; }
    .header .nav .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      list-style-type: none; }
      .header .nav .nav-menu a {
        text-decoration: none;
        font-size: 24px;
        color: #2D85BD; }
    .header .nav .hamburger {
      display: none;
      cursor: pointer;
      padding: 10px 10px;
      border: 1px solid #878787;
      border-radius: 5px;
      background-color: #D8D8D8; }
      .header .nav .hamburger .bar {
        display: block;
        width: 50px;
        height: 7px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background-color: #878787; }

@media screen and (max-width: 768px) {
  .nav {
    padding: 25px 40px !important;
    justify-content: space-between; }
  .hamburger {
    display: block !important; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg); }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s; }
    .nav-menu .nav-item {
      margin: 16px 0; }
      .nav-menu .nav-item a {
        color: #28a3c9; }
  .nav-menu.active {
    left: 0; } }

/* Top */
/* Card*/
/* Contacto */
.seccion-top-index {
  min-height: 750px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0px 70px;
  gap: 50px; }
  .seccion-top-index .cont-text {
    flex-basis: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
    justify-content: center; }
    .seccion-top-index .cont-text .titulo-top {
      font-family: "Russo One", sans-serif;
      color: #2E2868;
      font-size: 48px;
      font-weight: 300; }
    .seccion-top-index .cont-text .texto-top {
      font-size: 32px;
      max-width: 800px;
      font-family: "DM Sans", sans-serif;
      color: #624B9E; }
  .seccion-top-index .img-top {
    flex-basis: 100%;
    align-self: center; }
    .seccion-top-index .img-top img {
      max-width: 100%;
      object-fit: cover; }

.seccion-index {
  min-height: 650px;
  padding: 50px 70px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .seccion-index .seccion-titulo {
    font-size: 32px;
    color: #315DA8; }
  .seccion-index .contenedor-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 70px; }
    .seccion-index .contenedor-card .card {
      display: flex;
      flex-flow: column wrap;
      height: 500px;
      width: 400px;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 35px; }
      .seccion-index .contenedor-card .card .card-title {
        color: #6790D7;
        font-size: 24px; }
      .seccion-index .contenedor-card .card .boton {
        background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 20px;
        text-decoration: none;
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif; }
        .seccion-index .contenedor-card .card .boton:visited {
          color: #FFF; }
        .seccion-index .contenedor-card .card .boton:hover {
          background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }
      .seccion-index .contenedor-card .card img {
        width: 200px; }
    .seccion-index .contenedor-card .card-contacto {
      border: 5px solid #6790D7;
      color: #315DA8;
      border-radius: 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 350px;
      height: 350px;
      font-size: 20px; }
      .seccion-index .contenedor-card .card-contacto .bi {
        height: 60px; }

@media screen and (max-width: 768px) {
  .seccion-top-index {
    padding: 55px 40px;
    text-align: center;
    flex-flow: column wrap; }
  .seccion-index {
    padding: 50px 40px;
    gap: 40px; }
    .seccion-index .contenedor-card {
      gap: 40px;
      flex-direction: column; }
    .seccion-index .card {
      width: 100%; } }

/* Top */
/* Card */
.seccion-infoServ {
  font-family: 'DM Sans', sans-serif;
  min-height: 650px;
  width: 100%;
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  gap: 50px; }
  .seccion-infoServ .infoServ {
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    justify-content: center;
    max-width: 600px; }
    .seccion-infoServ .infoServ .titulo-serv {
      font-size: 32px;
      color: #2B65B0;
      font-family: 'Nunito Sans', sans-serif; }
    .seccion-infoServ .infoServ .text-serv {
      font-size: 20px;
      color: #4C5671; }
    .seccion-infoServ .infoServ .boton-equipos {
      align-self: center;
      background: linear-gradient(180deg, #624B9E 0%, #2E2868 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 20px;
      text-decoration: none;
      color: #FFF;
      font-family: 'Nunito Sans', sans-serif; }
      .seccion-infoServ .infoServ .boton-equipos:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-equipos:hover {
        background: linear-gradient(180deg, #8168c2 0%, #473f8d 100%); }
    .seccion-infoServ .infoServ .boton-housing {
      align-self: center;
      background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 20px;
      text-decoration: none;
      color: #FFF;
      font-family: 'Nunito Sans', sans-serif; }
      .seccion-infoServ .infoServ .boton-housing:visited {
        color: #FFF; }
      .seccion-infoServ .infoServ .boton-housing:hover {
        background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }
  .seccion-infoServ .img-serv {
    flex-basis: 100%;
    align-self: center; }
    .seccion-infoServ .img-serv img {
      max-width: 100%;
      object-fit: cover; }

.rigs {
  min-height: 700px;
  padding: 0px 70px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .rigs .titulo-rig {
    font-size: 32px;
    color: #315DA8; }
  .rigs .contenedor-rig {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 70px; }
    .rigs .contenedor-rig .card {
      padding: 0px 50px;
      display: flex;
      flex-flow: column wrap;
      height: 500px;
      width: 400px;
      align-items: center;
      justify-content: center;
      background-color: #fefefe;
      border: 1px solid #CCC;
      border-radius: 20px;
      gap: 35px; }
      .rigs .contenedor-rig .card .card-title {
        color: #6790D7;
        font-size: 24px; }
      .rigs .contenedor-rig .card .card-title {
        font-family: "DM Sans", sans-serif; }
      .rigs .contenedor-rig .card .card-text {
        font-size: 20px;
        color: #2f2f2f;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif; }
      .rigs .contenedor-rig .card .boton {
        background: linear-gradient(180deg, #57E1FD 0%, #31B6D0 100%);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 20px;
        text-decoration: none;
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif; }
        .rigs .contenedor-rig .card .boton:visited {
          color: #FFF; }
        .rigs .contenedor-rig .card .boton:hover {
          background: linear-gradient(180deg, #78e9ff 0%, #50c9e1 100%); }

@media screen and (max-width: 768px) {
  .seccion-infoServ {
    padding: 55px 40px;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center; }
    .seccion-infoServ .infoServ {
      align-self: center; }
  .rigs {
    padding: 50px 40px;
    gap: 40px; }
    .rigs .contenedor-rig {
      gap: 40px;
      flex-direction: column; }
    .rigs .card {
      min-width: 250px; } }

.footer {
  width: 100%;
  height: 280px;
  background-color: #C1C0C3;
  font-size: 1rem;
  font-family: 'Nunito sans', sans-serif;
  color: #fff;
  text-decoration: none; }
  .footer .container {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex; }
    .footer .container .foo {
      height: 80px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5%;
      gap: 10px; }
      .footer .container .foo a {
        color: #fff; }
      .footer .container .foo .bi-instagram {
        font-size: 30px; }
      .footer .container .foo .bi-chevron-up {
        display: none;
        font-size: 30px; }
      .footer .container .foo h3 {
        color: #878787;
        font-weight: bold;
        font-size: 20px; }

a:link {
  text-decoration: none;
  color: #2D85BD; }

a:visited {
  text-decoration: none;
  color: #2D85BD; }

a:hover {
  text-decoration: none;
  color: #585858; }

a:active {
  text-decoration: none;
  color: #2D85BD; }

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
    gap: 40px; }
    .footer .foo {
      height: 80px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px; }
      .footer .foo .bi-chevron-up {
        display: block; } }
