.anim-des-abajo{
    animation: deslizar-hacia-abajo ease 2s forwards;
}


/* animations */
@keyframes deslizar-hacia-abajo{
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* header animation */
@keyframes deslizar-desde-der{
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes deslizar-desde-izq{
    from {
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}