@mixin card($card-bg, $card-border, $card-title) {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $card-bg;
    border: $card-border;
    border-radius: 20px;
    gap: 30px;
    padding: 10%;
    
    .card-title{
        color: $card-title;
        font-size: 1.5rem;
    }
}