
.footer{
    @extend .border-box;
    width: 100%;
    height: 350px;
    background-color: #C1C0C3;  
    font-size: 1rem;
    font-family: 'Nunito sans', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 3%;
        .container{
            @extend .contenedor;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            display: flex;
            .foo{
                height: 120px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                gap: 10px;
                a{
                    color: #fff;
                }
                .bi-instagram{
                    font-size: 30px;
                }
                .bi-chevron-up{
                    display: none;
                    font-size: 30px;
                }
                h3{
                    color: #878787;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    
    }
    
   
    a:link{
        text-decoration: none;
        color: #2D85BD;
    }
    a:visited{
        text-decoration: none;
        color: #2D85BD;
    }
    a:hover{
        text-decoration: none;
        color: #585858;
    }
    a:active{
        text-decoration: none;
        color: #2D85BD;
    }
    
    @media screen and (max-width:768px){
        
        .footer{
            height: 550px;
            width: 100%;
            .container{
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                align-content: center;
                margin: auto;
                padding: 2%;
                height: 100%;
                .foo{
                    padding: 3%;
                    display: flex;
                    flex-direction: column;
                    height: 200px;
                    
                }
            }   
        }
    
    }
    
    