@import "boton";
@import "card";

/* Top */
$color-titulo: #2E2868;
$color-texto: #624B9E;
/* Card*/
$card-bg:#fefefe;
$card-border: 1px solid #CCC;
$card-title: #6790D7;
$color-btn-1: #57E1FD;
$color-btn-2: #31B6D0;
$color-btn-hover-1:#78e9ff;
$color-btn-hover-2:#50c9e1;
$color-btn-texto: #FFF;
/* Contacto */
$contacto-borde: 5px solid #6790D7;
$contacto-texto: #315DA8;

.seccion-top-index{
    @extend .border-box;
    min-height: 750px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0px 70px;
    gap: 50px;
    .cont-text{
        flex-basis: 100%;
        display: flex;
        flex-flow:column wrap;
        gap: 50px;
        justify-content: center;
        .titulo-top{
            font-family: $fuente-titulo;
            color: $color-titulo;
            font-size: 3rem;
            font-weight: 300;
        }
        .texto-top{
            font-size: 2rem;
            max-width: 800px;
            font-family: $fuente-texto;
            color: $color-texto;
        }
    }
    .img-top{
        flex-basis: 100%;
        align-self: center;
        img{
            max-width: 100%;
            object-fit:cover;
        } 
    } 
}

.seccion-index{
    width: 100%;
    @extend .border-box;
    min-height: 650px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    .seccion-titulo{
        font-size: 2rem;
        color: #315DA8;
    }
    .contenedor-card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 70px;
        
        ;
        .card1{
            @include card($card-bg, $card-border, $card-title);
            .boton{
                @include boton($color-btn-1, $color-btn-2, $color-btn-hover-1, $color-btn-hover-2, $color-btn-texto);
                
            }
            img{
                width: 200px;
            }
            .card-title{
                padding-bottom: 20px;
                text-align: center;
                
            }
            transition: width 1s;
            width: 100%;
            :hover{
                width: 75%;
            
            }

        }
        .card2{
            @include card($card-bg, $card-border, $card-title);
            .boton{
                @include boton($color-btn-1, $color-btn-2, $color-btn-hover-1, $color-btn-hover-2, $color-btn-texto);
            }
            img{
                width: 200px;
            }
            .card-title{
                padding-bottom: 20px;
                text-align: center;
            }
            transition: width 1s;
            width: 100%;
            :hover{
                width: 75%;
            
            }
        }
        .card-contacto{
            border: $contacto-borde;
            color: $contacto-texto;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            width: 350px;
            height: 350px;
            font-size: 1.2rem;
            .bi{
                height: 60px;
            }
        }
    } 
}
.seccion-index1{
    @extend .border-box;
    min-height: 650px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .seccion-titulo{
        font-size: 2rem;
        color: #315DA8;
    }
    .contenedor-card1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 70px;
        .card-contacto{
            border: $contacto-borde;
            color: $contacto-texto;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            width: 350px;
            height: 350px;
            font-size: 1.2rem;
            .bi{
                height: 60px;
            }
        }
        
       
    } 
}

.cualidades{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #ECECEC;
    height: 15%;
    width: 100%;
    .contenedor{
        @extend .contenedor;
        @extend .border-box;
        gap: 10px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        display: flex;
        
        
        .item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            height: 10%;
            align-content: space-between;
            padding: 7%;
            margin: auto;
            p{
                font-size: 2.5rem;
                color: #2B65B0;
            }
            img{
                flex-basis: 100%;
                align-self: center;
                max-width: 250px;
            }
        }
    }
}

@media screen and (max-width:768px){
    
    
    .seccion-top-index{
        padding: 10px;
        flex-direction: column;
        .cont-text{
            .titulo-top{
                font-size: 2rem;
                text-align: center;
            }

        }
        
        p{
            font-size: 1rem;
        }
        
        
    
        .img-top{
            align-items: center;
        }
    }
    .seccion-index1{
        width: 100%;
        box-sizing: border-box;
        padding: 15%;
        
        
        
        
        .contenedor-card1{
            border-radius: 10px;
            display: flex;
            flex-direction: row; 
            text-align: center;
            text-size-adjust: auto;
            font-size: 0.8rem;
            width: 130%;
            height: 100%;
            gap: 20px;
            
            
            

            .card-contacto{
                .bi{
                    width: auto;
                    height: 8vw;
                        
                }
                
                height: 100%;
                padding: 5%;
                margin: 10% auto;
                box-sizing: border-box;
                

            }
            
        }
        
    }
    .seccion-index{
        padding: 10px;
        width: 100%;
        
        .contenedor-card{
            border-radius: 10px;
            align-content: center;
            text-align: center;
            padding: 10%;
            display: flex;
            flex-direction: column;
            
          
            .card1{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: row;
                padding: 10%;
               
                border-radius: 10px;
                gap: 20px;
                transition: width 1s;
                
                :hover{
                    width: 90%;
                    
            
                }
                .img1{
                    
                    height: auto;
                    align-content: flex-start;
                    
                }
                
                .text1{
                
                    padding: 5%;
                    justify-items: center;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    
                   

                    .card-title{
                        color: $card-title;
                        font-size: 1.2rem;
                    }
                    
                    .boton{
                        
                        width: 6rem;
                        font-size: 1rem;
                        

                    }
                }
            }
            .card2{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction:row-reverse;
                padding: 10%;
                display: flex;
                border-radius: 10px;
                gap: 20px;
                transition: width 1s;
                
                :hover{
                    width: 90%;
            
                }
    
                
                .img2{
                    
                    height: auto;

                }
                
                
                .text2{
                    
                    padding: 5%;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .card-title{
                        color: $card-title;
                        font-size: 1.2rem;
                    }
                   
                    
                    
                    .boton{
                        
                        width: 6rem;
                        font-size: 1rem;
                        
                    }
                }
            }

        }
        
    }

    .cualidades{
        height: 255px;
        width: 100%;
        margin: auto;
        padding-bottom: 2%;
        
        .contenedor{
            gap: 10px;
            
            display: flex;
            flex-direction: row;
            align-content: space-between;
            width: 95%;
            
            
            
            .item{
                height: 31vw;
                width: auto;
                padding-bottom: 7px;
                
                img{
                    width: auto;
                    height: 60%;
                    

                }
                p{
                    font-size: 1rem;
                    padding-bottom: 12%;
                    
                }
                display: flex;
                flex-direction: column;
                align-content: space-around;
                
            }
        }
    }
}
