@import "boton";
@import "card";

/* Top */
$color-titulo: #2E2868;
$color-texto: #624B9E;
/* Card*/
$card-bg:#fefefe;
$card-border: 1px solid #CCC;
$card-title: #6790D7;
$color-btn-1: #57E1FD;
$color-btn-2: #31B6D0;
$color-btn-texto: #FFF;
/* Contacto */
$contacto-borde: 5px solid #6790D7;
$contacto-borde-mobile: 3px solid #6790D7;
$contacto-texto: #315DA8;

.seccion-top-index{
    @include border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
    gap: 50px;
    margin-top: 120px;
    .cont-text{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        .titulo-top{
            font-family: $fuente-titulo;
            color: $color-titulo;
            font-size: 3rem;
            font-weight: 300;
        }
        .texto-top{
            font-size: 2rem;
            max-width: 800px;
            font-family: $fuente-texto;
            color: $color-texto;
        }
    }
    .img-top{
        flex-basis: 100%;
        width: 50%;
        align-self: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        } 
    } 
}

.seccion-index{
    width: 100%;
    @include border-box;
    
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 40px;
    .seccion-titulo{
        font-size: 2rem;
        color: #315DA8;
    }
    .contenedor-card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: relative;
        .card1{
            @include card($card-bg, $card-border, $card-title);
            @include border-box;
            width: 80vw;
            height: 80vh;
            gap: 50px;
            align-items: center;
            justify-content: center;
            padding: 20%;
            

            
            .img1{
                width: 100%;
                
                img{
                    max-width: 200px; 
                    
                }
                
                 
            }
            .texto1{
                
                .card-title{
                    text-align: center; 
                    padding: 10%;
                    
                      
                }
                .boton{
                    @include boton($color-btn-1, $color-btn-2, $color-btn-texto);
                    
                    
                            
                } 
            }
                          
        }
        .card2{
            @include card($card-bg, $card-border, $card-title);
            @include border-box;
            width: 80vw;
            height: 80vh;
            gap: 50px;
            align-items: center;
            justify-content: center;
            padding: 20%;
            

            .img2{
                width: 100%;
                img{
                     
                    max-width: 200px;
                    
                }
                   
            }
        }
            .texto2{

                .card-title{
                    text-align: center;  
                    padding: 15%;
                }
                .boton{
                    @include boton($color-btn-1, $color-btn-2, $color-btn-texto);
                            
                } 
            }
                          
        }
    
    .contenedor-card-contacto{
        @extend .contenedor-card;
        .card-contacto{
            border: $contacto-borde;
            color: $contacto-texto;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            width: 100%;
            height: 350px;
            font-size: 1.3em;
            .img{
                height: 60px;
            }
            .titulo{
                font-weight: bold;
            }
            a{
                color: $contacto-texto;
                transition: all 300ms ease;
                &:hover{
                    color: #518bf0;
                }
            }
        }
    } 
}

.cualidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ECECEC;
    height: 15%;
    width: 100%;
    .contenedor{
        @extend .contenedor;
        @include border-box;
        gap: 10px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        display: flex;
        .item{
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            height: 10%;
            padding: 5% 0%; 
            margin: auto;
            p{
                font-size: 30px;
                font-family: $fuente-nunito;
                color: #2B65B0;
            }
            img{
                flex-basis: 100%;
                align-self: center;
                max-width: 200px;
            }
        }
    }
}

@media screen and (max-width:768px){
    
    .seccion-top-index{
        @include border-box;
        padding: 10%;
        flex-direction: column;
        
        .cont-text{
            .titulo-top{
                font-size: 1.8rem;
                text-align: center;
            }
            .texto-top{
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .img-top{
            align-items: center;
            width: 70%;
        }
    }

    .seccion-index{
        padding: 6%;
        
        .seccion-titulo{
            font-size: 1.3rem;
        }
        .contenedor-card{
            border-radius: 10px;
            display: flex;
            flex-direction: column; 
            align-content: center;
            justify-content: center;
            font-size: 0.8rem;
            width: 95%;
            height: 50%;
            gap: 10px; 
            padding: 20%;
            .card1{
                height: auto;
                width: 90%;
                gap: 10px;
                display: flex;
                flex-direction: row;
                padding: 8%;
                align-items: center;
                justify-content: center;
                align-content: center;
                min-height: 42px;
                .texto1{
                    
                    .card-title{
                        font-size: 1rem;
                        align-content: center;
                        padding: 10%;

                    }
                }
                .img1{
                    img{
                        height: 16vw;
                        padding: 10%;
                        justify-content: center;
           
                    }
                }
            } 
            .card2{
                height: auto;
                width: 90%;
                gap: 10px;
                display: flex;
                flex-direction: row-reverse;
                align-content: center;
                padding: 10%;
                justify-content: center;
                min-height: 42px;
                .texto2{
                    
                    .card-title{
                        font-size: 1rem;
                        text-align: center; 
                        padding: 10%;
                          
                    }
                }
                .img2{
                    img{
                        height: 16vw;
                        padding: 10%;
                        justify-content: center;
                    }
                }
            }          
        }

        .contenedor-card-contacto{
            display: flex;
            flex-direction: row;
            gap: 15px;
            .card-contacto{
                width: 20%;
                height: 15%;
                padding: 10%;
                border: $contacto-borde-mobile;
                display: flex;
                flex-direction: column;
                .img{
                    height: 6vw;
                }
            }
        }
        
    }

    .cualidades{
        max-width: 100%;
        .item{
            img{
                max-height: 70px;
            }
            p{
                font-size: 20px !important;
            }
        }
    }    
}
@media screen and (max-width:400px){
    
    .seccion-index{
        max-width: 100%;
        padding: 10%;
        .seccion-titulo{
            font-size: 1.1rem;
        }
        .contenedor-card{
            border-radius: 10px;
            display: flex;
            flex-direction: column; 
            align-content: center;
            justify-content: center;
            font-size: 0.7rem;
            width: 100%;
            height: 50%;
            gap: 10px; 
            padding: 10%;
            .card1{
                height: auto;
                width: 95%;
                gap: 10px;
                display: flex;
                flex-direction: row;
                padding: 7%;
                align-items: center;
                justify-content: center;
                align-content: center;
                min-height: 30px;
                .texto1{
                    
                    .card-title{
                        font-size: 1rem;
                        align-content: center;
                        padding: 10%;

                    }
                }
                .img1{
                    img{
                        height: 16vw;
                        padding: 10%;
                        justify-content: center;
           
                    }
                }
            } 
            .card2{
                height: auto;
                width: 95%;
                gap: 10px;
                display: flex;
                flex-direction: row-reverse;
                align-content: center;
                padding: 10%;
                justify-content: center;
                min-height: 30px;
                .texto2{
                    
                    .card-title{
                        font-size: 1rem;
                        text-align: center; 
                        padding: 10%;
                          
                    }
                }
                .img2{
                    img{
                        height: 16vw;
                        padding: 10%;
                        justify-content: center;
                    }
                }
            }          
        }

        .contenedor-card-contacto{
            display: flex;
            flex-direction: row;
            gap: 15px;
            .card-contacto{
                width: 20%;
                height: 10%;
                padding: 10%;
                border: $contacto-borde-mobile;
                display: flex;
                flex-direction: column;
                .img{
                    height: 4vw;
                }
            }
        }
        
    }

}
