@import "boton";
@import "card";

/* Top */
$color-titulo: #2B65B0;
$color-texto-serv: #4C5671;
$color-btn-top-1: #624B9E;
$color-btn-top-2: #2E2868;
/* Card */
$card-bg:#fefefe;
$card-border: 1px solid #CCC;
$card-title: #6790D7;
$color-btn-1: #57E1FD;
$color-btn-2: #31B6D0;
$color-btn-hover-1:#78e9ff;
$color-btn-hover-2:#50c9e1;
$color-btn-texto: #FFF;

.seccion-infoServ{
    @include border-box;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    padding: 0px 70px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    padding: 0px 70px;
    gap: 50px;
    .infoServ{
        
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 10%;
        justify-content: center;
        max-width: 600px;
        .titulo-serv{
            font-size: 2rem;
            color: $color-titulo;
            font-family: 'Nunito Sans', sans-serif;
        }
        .text-serv{
            font-size: 1.2rem;
            color: $color-texto-serv;
        }
        .boton-equipos{
            align-self: center;
            @include boton($color-btn-top-1, $color-btn-top-2, $color-btn-texto);
        }
        .boton-housing{
            align-self: center;
            @include boton($color-btn-1, $color-btn-2, $color-btn-texto);
            
        }
    }
    .img-serv{
        flex-basis: 100%;
        align-self: center;
        img{
            max-width: 100%;
            display: block;
            margin: auto;
            
        }
    }
}

.rigs{
    @include border-box;
    min-height: 700px;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    .titulo-rig{
        font-size: 2rem;
        color: #315DA8;
    }
    .contenedor-rig{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        .card{
            @include border-box;
            width: 100%;
            @include card($card-bg, $card-border, $card-title);
            min-width: 40vw;
            min-height: 30vh;
            .card-title{
                font-family: "DM Sans", sans-serif;
                text-align: center;
                font-size: calc(1.1em + 0.4vw);
            }
            .card-text{
                font-size: calc(0.8em + 0.4vw);
                color: #2f2f2f;
                text-align: center;
                font-family: 'Nunito Sans', sans-serif;
                
                
            }
            .boton{
                @include boton($color-btn-1, $color-btn-2, $color-btn-texto);
            }
        }
    }
}

@media screen and (max-width:768px){
    .seccion-infoServ{
        padding: 55px 40px;
        text-align: center;
        flex-flow: column wrap;
        justify-content: center;
        .infoServ{
            align-self: center;
        }
        .titulo-serv{
            font-size: 1.2rem;
            color: $color-titulo;
            font-family: 'Nunito Sans', sans-serif;
        }
        .text-serv{
            font-size: 1rem;
            color: $color-texto-serv;
        }
    }

    .rigs{
        padding: 15%;
        gap: 40px;
        .titulo-rig{
            font-size: 1.5rem;
        }
        .contenedor-rig{
            gap: 40px;
            flex-direction: column;
            
            .card{
                max-width: 300px;
                justify-content: center;
            }
            .card-title{
                font-size: 1rem;
                text-align: center;    
            }
            .card-text{
                font-size: 0.9rem;
                
            }
        }
        
    }

}